---
---

@import "{{ site.theme }}";

$brand-color: #bf0000;
$brand-darker-color: #8c0000;

.footer-col-wrapper a {
  color: $brand-darker-color;
}
.post-content a {
  color: $brand-color;
}
code {
  font-size: 100%;
}

/* .post-content p {
  text-align: justify;
  hyphens: auto;
}

.post-content ul li p + p {
  margin-bottom: $spacing-unit / 4;
} */
