---
---

@import "{{ site.theme }}";

$brand-color: #008700;
$brand-darker-color: #005800;

.footer-col-wrapper a {
  color: $brand-darker-color;
}
.post-content a {
  color: $brand-color;
}
code {
  font-size: 100%;
}

/* .post-content p {
  text-align: justify;
  hyphens: auto;
}

.post-content ul li p + p {
  margin-bottom: $spacing-unit / 4;
} */

.site-nav {
  padding-left: 80%;

  .page-link {
     padding: 50 10px;
  }
}
